{% load staticfiles %}
<html>
    <head>
         <title>Task Manager</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/TaskManager.css' %}">
       <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
       <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    </head>
    <body>
    <div class = "main">
    <!----------------TITLE----------------------->
        <div class = "title">
            <div id = "title_img">
                <img src ="{% static 'IMG/bwf_logo.png'%}" width = "200px">
            </div>
            <div id="bwf_title">
                <H1>Task Manager</H1>
            </div>
            <div class="task_statistic">
                 <div id = "statistic_title">
                    <div id = "stat_box" style = background-color:#FAFAD2></div>
                    <div id = "s_b">open / {{tasks_open.count}}</div>
                 </div>
                 <div id = "statistic_title">
                    <div id = "stat_box" style = background-color:#ADD8E6></div>
                    <div id = "s_b">in process / {{task_in_progres.count}}</div>
                 </div>
                 <div id = "statistic_title">
                    <div id = "stat_box" style = background-color:#82CC8B></div>
                    <div id = "s_b">complete / {{tasks_closed.count}}</div>
                 </div>
                 <div id = "statistic_title">
                     <div id = "stat_box" style = background-color:#E67864></div>
                     <div id = "s_b">prioritet / {{tasks_prioritet.count}}</div>
                 </div>
            </div>
            <div class = "acounts">
                <a href="">
                    <img src= "{% static 'IMG/send_statistic.png' %}" width = "50px">
                </a>
                <a href="">
                    <img src="{% static 'IMG/personal_acount.png' %}" width = "50px">
                </a>
                <a href="/admin">
                    <img src="{% static 'IMG/admin_acount.png' %}" width = "50px">
                </a>
            </div>
        </div>
    <!--------------------------------------------->
    <div class = "content">
        <div id = "task_list_1" style="background-color: lightgoldenrodyellow">
            <div class = "circle">
                {%for x in circle_count%}
                <div class="krug">
                    <!--<img src  = "static/IMG/circle.png" width = "30px">-->
                </div>
                {%endfor%}
            </div>
            <ul>
        {%for task in tasks_open%}
                <div id = "divide_1" style = "background-image: url('{% static 'IMG/razdelitel_about.png' %}'); background-repeat: repeat-x;">
                </div>
                 <div id = "control_image">
                      <a href="{% url 'task_del' pk=task.pk%}">
                        <img src="{% static 'IMG/delete.png' %}" width="30px">
                     </a>
                 </div>
                <div id = "control_image">
                    <a href="{% url 'task_complete' pk=task.pk%}">
                        <img src="{% static 'IMG/complete.png' %}" width="30px">
                    </a>
                </div>
                <div id = "control_image">
                    <a href="{% url 'task_start' pk=task.pk%}">
                       <img src="{% static 'IMG/start.png' %}" width="30px">
                    </a>
                </div>
                {%if task.task_prioritet == prioritet_hot %}
                        <div class = "li_1" style = background-color:#E67864>
                    {%else%}
                            <div class = "li_1">
                                {%endif%}
                    <li id="task_1">
                        <div id = "name_1">
                            {{forloop.counter}}. {{task}}
                        </div>
                        <div id = "description_1">
                            <p>{{task.task_description}}</p>
                        </div>
                    </li>
                </div>
        {%endfor%}
            </ul>
        </div>
        <div id = "task_list_2" style="background-color: lightblue">
            <div class = "circle">
                {%for x in circle_count%}
                <div class="krug">
                    <!--<img src  = "static/IMG/circle.png" width = "30px">-->
                </div>
                {%endfor%}
            </div>
            <ul>
        {%for task in task_in_progres%}
                <div id = "divide_2">
                </div>
                <div id = "control_image">
                      <a href="{% url 'task_del' pk=task.pk%}">
                        <img src="{% static 'IMG/delete.png' %}" width="30px">
                     </a>
                 </div>
                <div id = "control_image">
                    <a href="{% url 'task_complete' pk=task.pk%}">
                        <img src="{% static 'IMG/complete.png' %}" width="30px">
                    </a>
                </div>
                <div id = "control_image">
                    <a href="{% url 'task_start' pk=task.pk%}">
                       <img src="{% static 'IMG/start.png' %}" width="30px">
                    </a>
                </div>
                <div class = "li_2">
                    <li id="task_2">
                        <div id = "name_2">
                            {{forloop.counter}}. {{task}}
                        </div>
                        <div id = "description_2">
                            <p>{{task.task_description}}</p>
                        </div>
                    </li>
                </div>
        {%endfor%}
            </ul>
        </div>
        <div id = "task_list_3" style="background-color: #82cc8b">
            <div class = "circle">
                {%for x in circle_count%}
                <div class="krug">
                   <!-- <img src  = "static/IMG/circle.png" width = "30px">-->
                </div>
                {%endfor%}
            </div>
            <ul>
        {%for task in tasks_closed%}
                <div id = "divide_3">
                </div>
                <div id = "control_image">
                     <a href="{% url 'task_del' pk=task.pk%}">
                        <img src="{% static 'IMG/delete.png' %}" width="30px">
                     </a>
                 </div>
                <div id = "control_image">
                    <a href="{% url 'task_complete' pk=task.pk%}">
                        <img src="{% static 'IMG/complete.png' %}" width="30px">
                    </a>
                </div>
                <div id = "control_image">
                    <a href="{% url 'task_start' pk=task.pk%}">
                       <img src="{% static 'IMG/start.png' %}" width="30px">
                    </a>
                </div>
                <div class = "li_3">
                    <li id="task_3">
                        <div id = "name_3">
                            {{forloop.counter}}. {{task}}
                        </div>
                        <div id = "description_3">
                            <p>{{task.task_description}}</p>
                        </div>
                    </li>
                </div>
        {%endfor%}
            </ul>
        </div>
    </div>
    </div>
    </body>
</html>